<div class="contain mt-5" *ngIf="movieDetails">
    <div class="row p-5">
        <div class="col-lg-2">
            <img [src]="movieDetails.poster_path" 
                 class="img-fluid" 
                 [alt]="movieDetails.title"
                 (error)="handleImageError($event)">
        </div>
        <div class="col-lg-10 mt-5 p-4">
            <h1 class="mt-2 mb-2">{{movieDetails.title}}</h1>
            <div class="movie-details mt-3">
                <p><strong>Yıl:</strong> {{movieDetails.release_date}}</p>
                <p><strong>Süre:</strong> {{movieDetails.runtime}}</p>
                <p><strong>IMDB Puanı:</strong> {{movieDetails.vote_average}}/10</p>
                <p><strong>Yönetmen:</strong> {{movieDetails.director}}</p>
                <p><strong>Oyuncular:</strong> {{movieDetails.actors}}</p>
                <p><strong>Yazarlar:</strong> {{movieDetails.writer}}</p>
            </div>
            <div class="plot mt-3 mb-3">
                <h3>Konu</h3>
                <p>{{movieDetails.overview}}</p>
            </div>
            <div class="genres mt-3">
                <h3>Türler</h3>
                <div class="genre-tags">
                    <span class="badge bg-primary me-2" *ngFor="let genre of movieDetails.genres">
                        {{genre.name}}
                    </span>
                </div>
            </div>
            <div class="awards mt-3" *ngIf="movieDetails.awards">
                <h3>Ödüller</h3>
                <p>{{movieDetails.awards}}</p>
            </div>
            <div class="ratings mt-3" *ngIf="movieDetails.ratings">
                <h3>Değerlendirmeler</h3>
                <div *ngFor="let rating of movieDetails.ratings">
                    <p><strong>{{rating.Source}}:</strong> {{rating.Value}}</p>
                </div>
            </div>
            <div class="box-office mt-3" *ngIf="movieDetails.boxOffice">
                <h3>Gişe Hasılatı</h3>
                <p>{{movieDetails.boxOffice}}</p>
            </div>
        </div>
    </div>
</div>